snippet docs
	'''
	File: ${1:`Filename('$1.py', 'foo.py')`}
	Author: ${2:`g:snips_author`}
	Description: ${3}
	'''

snippet docm
	""" ${1:docstring}

	Arguments:
		${2:arg1}: 

	Returns:
		${3:return}
	"""

snippet argparse
	import argparse
	parser = argparse.ArgumentParser()

	parser.add_argument("--${1}", type=${2})
	args = parser.parse_args()
